<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Arrhythmia Prediction</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body background="x.jpeg">
<!-- partial:index.partial.html -->


<h1 style="text-align:center">ECG Arrythmia Prediction </h1>

    <!-- Main Input For Receiving Query to our ML -->
   <form style="text-align:center" action="/success" method="post" enctype="multipart/form-data">
 
     <input type="file" name="fileToUpload" id="fileToUpload" accept="image/*" >

    <br></br>
   <div id = main>
   <input type = "submit"  value="Submit" >  
    </div>
    </form>

   <br>
   <br>
   <p style="text-align:center">{{ prediction_text }}</p>


<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./script.js"></script>

</body>
</html>
